#include "resource.h"
#include <windows.h>
#include <commctrl.h>

IDR_ACCEL ACCELERATORS
BEGIN
	VK_F5, ID_VIEW_REFRESH, VIRTKEY
	0xBC, ID_VIEW_SETTINGS, VIRTKEY, CONTROL
	VK_DELETE, ID_CTX_END_TASK, VIRTKEY
END

IDD_SETTINGS DIALOGEX 0, 0, 190, 158
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	LTEXT "Auto-refresh", -1, 7, 12, 52, 8
	COMBOBOX IDC_REFRESH_COMBO, 62, 10, 121, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT "Columns", -1, 7, 24, 176, 8
	CONTROL "", IDC_COL_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 7, 34, 176, 78
	DEFPUSHBUTTON "OK", IDOK, 76, 138, 50, 14
	PUSHBUTTON "Cancel", IDCANCEL, 133, 138, 50, 14
END
